.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31%;
  background-color: $white;
  padding: 30px;
}

.sign-up-title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 30px;
  color: #911e1e;
}

a {
  color: #911e1e;

  &:hover {
    color: #911e1e;
  }
}

p {
  color: #746f72;
}